# Week2.데이터 타입의 이해

Juhyun Kang

# Print 하기

In [14]:
text = 'Hello Worlds'

In [15]:
print(text)

Hello Worlds

# 데이터 타입

## 데이터 타입 출력하는 함수 : Ctrl + Enter 로 실행 후 넘어가시면 됩니다!

In [87]:
def print_type(x):
  data_type = type(x)

  if data_type == int:
    korean_type = "정수형"
    english_type = "integer"
  elif data_type == float:
    korean_type = "실수형"
    english_type = "float"
  elif data_type == str:
    korean_type = "문자열"
    english_type = "string"
  elif data_type == list:
    korean_type = "리스트"
    english_type = "list"
  elif data_type == dict:
    korean_type = "딕셔너리"
    english_type = "dictionary"
  elif data_type == tuple:
    korean_type = "튜플"
    english_type = "tuple"
  elif data_type == set:
    korean_type = "세트"
    english_type = "set"
  elif data_type == bool:
    korean_type = "불리언"
    english_type = "boolean"
  else:
    korean_type = "알 수 없는 타입"
    english_type = "unknown type"

  print(f"{x}의 데이터 타입")
  print(f"데이터 타입 (한글): {korean_type}")
  print(f"Data Type (English): {english_type}")
  print('*' * 30)

In [16]:
print_type(10) # 정수
print_type(3.14) # 실수
print_type("hello") # 문자열
print_type([1, 2, 3]) # 리스트
print_type({"a": 1, "b": 2}) # 딕셔너리
print_type((1, 2, 3)) # 튜플
print_type({1, 2, 3}) # 세트
print_type(True) # 불리안(Boolean) : 참, 거짓

10의 데이터 타입
데이터 타입 (한글): 정수형
Data Type (English): integer
******************************
3.14의 데이터 타입
데이터 타입 (한글): 실수형
Data Type (English): float
******************************
hello의 데이터 타입
데이터 타입 (한글): 문자열
Data Type (English): string
******************************
[1, 2, 3]의 데이터 타입
데이터 타입 (한글): 리스트
Data Type (English): list
******************************
{'a': 1, 'b': 2}의 데이터 타입
데이터 타입 (한글): 딕셔너리
Data Type (English): dictionary
******************************
(1, 2, 3)의 데이터 타입
데이터 타입 (한글): 튜플
Data Type (English): tuple
******************************
{1, 2, 3}의 데이터 타입
데이터 타입 (한글): 세트
Data Type (English): set
******************************
True의 데이터 타입
데이터 타입 (한글): 불리언
Data Type (English): boolean
******************************

---

## 데이터 타입의 특징

### 1. '='과 '=='의 차이

In [82]:
'''
= 는 특정 변수에 데이터를 지정할 때 쓰는 문법이고,
== 는 두 변수의 참, 거짓을 출력할 때 쓰는 문법입니다.
'''

x = 1 # x라는 변수에 1 이라는 데이터를 지정
x == 1 # x와 1이 같은 데이터인지 참,거짓을 출력

True

### 2. 10 과 "10"은 같은 데이터일까?

In [15]:
'''
10 과 "10"은 파이썬에서 엄연히 다른 데이터입니다.
10은 숫자(정수) 이지만 "10"은 텍스트로 여겨지기 때문입니다.
문자열 타입의 데이터는 ""로 감싸서 표현할 수 있습니다.

즉, 10 + "10"을 하면 숫자와 텍스트를 계산하는 것이기 때문에 타입 불일치로 인한 에러가 발생하게 됩니다.
'''

x1 = 10
x2 = "10"

In [217]:
# print(x1 + x2)

### 3. 10 + 10.0은 정수일까, 실수일까?

In [70]:
'''
파이썬은 연산할 때 모든 정수를 실수로 전환하여 계산합니다.
그래서 정수 + 실수 연산을 해서 나오는 모든 결과값은 실수입니다.
'''
x3 = 10 + 10.0 # 정수 + 실수
print(type(x3)) 
print(x3)

'''하지만, 정수 + 정수를 하게되면 실수로 전활할 필요가 없기 때문에, 정수로 결과가 나오게 됩니다.'''

x4 = 10 + 20 # 정수 + 정수
print(type(x4)) 
print(x4)

<class 'float'>
20.0
<class 'int'>
30

### 4. 실수 데이터 연산의 함정 : 0.1 + 0.2는 0.3이 아니다?

In [74]:
'''
일반적으로, 0.1 + 0.2 연산을 하면 0.3이 정답이지만,
파이썬에서는 실수 즉, 소수점을 이진수으로 바꿔 저장을 하는데, 이 과정에서 딱 떨어지지 않고 무한 소수로서 저장이 됩니다.
	• 0.1 → 2진수로 정확히 표현 불가 → 0.10000000000000000555…
	• 0.2 → 0.2000000000000000111…
	• 0.3 → 0.2999999999999999889…
즉, 0.1 + 0.2는 실제로 0.30000000000000004인 셈입니다.
'''

x5 = 0.1 + 0.2
x6 = 0.3

In [79]:
x5 == x6

False

### 5. 리스트 [], 세트 {}, 튜플 () 이란?

| 데이터 타입 | 순서(Ordered) | 중복 허용 | 수정 가능(Mutable) | 주요 활용 |
|-------------|---------------|-----------|--------------------|-----------|
| 리스트(list) | ✅ 있음       | ✅ 허용    | ✅ 가능             | 순서 있는 데이터 모음, CRUD(Create, Read, Update, Delete) 작업 |
| 세트(set)   | ❌ 없음       | ❌ 불가    | ✅ 가능             | 중복 제거, 집합 연산(합집합/교집합) |
| 튜플(tuple) | ✅ 있음       | ✅ 허용    | ❌ 불가             | 변하지 않는 데이터 저장, 좌표, 고정 값 |

1. 리스트(List) → [1, 2] : 자유롭게 추가/삭제/수정할 수 있어 데이터 관리에 적합
 • 정의: 여러 개의 값을 순서대로 저장하는 자료형
 • 특징:
	- 순서가 있다.
	- 중복을 허용한다.
	- 값을 변경할 수 있다.
2. 세트(Set) → {1,2} : 순서가 필요 없고 중복 제거가 자동으로 필요할 때 유용
 • 정의: 여러 값을 집합 형태로 저장하는 자료형
 • 특징:
	- 순서가 없다.
	- 중복을 허용하지 않는다.
	- 값의 변경은 가능하지만, 원소 자체는 변경 불가(불변 객체만 저장 가능)
	- 집합 연산 지원 (합집합, 교집합 등)
3. 튜플(Tuple) → (1,2) : 값이 바뀌면 안 되는 고정 데이터(예: (x, y) 좌표) 저장할 때 적합
 • 정의: 여러 개의 값을 순서대로 저장하지만, 변경할 수 없는 자료형
 • 특징:
	- 순서가 있다 (ordered)
	- 중복을 허용한다
	- 변경 불가 (immutable)
	- 리스트보다 안전하게 데이터를 저장하고 싶을 때 사용

In [254]:
'''
리스트, 세트, 튜플의 기본적인 특성의 이해는 개발, 데이터 분석 코드를 간소화할 수 있는 중요한 이론이 됩니다.
각 데이터 타입마다 고유한 특성을 암기하고, 실제 분석 과정에 적용해보세요.
'''

print("=== list() 함수 ===")
# 문자열을 리스트로 변환 → 각 글자가 요소가 됨
text = "hello"
print("list('hello') =", list(text))


# 튜플을 리스트로 변환
my_tuple = (1, 2, 3)
print("list((1,2,3)) =", list(my_tuple))

# 세트를 리스트로 변환 → 순서가 없기 때문에 결과 순서는 일정하지 않을 수 있음
my_set = {1, 2, 3}
print("list({1,2,3}) =", list(my_set))


print("\n=== set() 함수 ===")
# 문자열을 세트로 변환 → 중복 제거 + 순서 없음
print("set('hello') =", set("hello"))

# 리스트를 세트로 변환 → 중복된 값 제거
my_list = [1, 2, 2, 3, 3, 3]
print("set([1,2,2,3,3,3]) =", set(my_list))

# 튜플을 세트로 변환
print("set((1,2,2,3)) =", set((1,2,2,3)))


print("\n=== tuple() 함수 ===")
# 문자열을 튜플로 변환
print("tuple('hi') =", tuple("hi"))

# 리스트를 튜플로 변환
print("tuple([1,2,3]) =", tuple([1,2,3]))

# 세트를 튜플로 변환 → 순서 없음
print("tuple({1,2,3}) =", tuple({1,2,3}))

=== list() 함수 ===
list('hello') = ['h', 'e', 'l', 'l', 'o']
list((1,2,3)) = [1, 2, 3]
list({1,2,3}) = [1, 2, 3]

=== set() 함수 ===
set('hello') = {'l', 'e', 'o', 'h'}
set([1,2,2,3,3,3]) = {1, 2, 3}
set((1,2,2,3)) = {1, 2, 3}

=== tuple() 함수 ===
tuple('hi') = ('h', 'i')
tuple([1,2,3]) = (1, 2, 3)
tuple({1,2,3}) = (1, 2, 3)

### 6. 세트와 딕셔너리의 차이

| 데이터 타입       | 구조(저장 방식)            | 순서(Ordered) | 중복 허용 | 수정 가능 | 접근 방법                  | 주요 활용 |
|------------------|---------------------------|---------------|-----------|-----------|---------------------------|-----------|
| 세트 (set)        | 고유한 값들의 모음 `{1,2}`| ❌ 없음       | ❌ 불가    | ✅ 가능    | 직접 접근 불가 (in 사용)   | 중복 제거, 집합 연산 |
| 딕셔너리 (dict)   | 키:값 쌍 `{k:v}`          | ✅ 있음 (3.7+) | 키 중복 ❌ | ✅ 가능    | 키로 접근: `mydict['a']`  | 이름표 붙은 데이터 관리 |

In [124]:
# 세트
my_set = {1, 2, 2, 3}
print("세트:", my_set)          # {1, 2, 3}
print("2 in my_set?", 2 in my_set)  # True

# 딕셔너리
my_dict = {"a": 1, "b": 2, "a": 3}  # 키 중복 → 마지막 값만 유지
print("딕셔너리:", my_dict)   # {'a': 3, 'b': 2}
print("키 'a'의 값:", my_dict["a"]) # 3

세트: {1, 2, 3}
2 in my_set? True
딕셔너리: {'a': 3, 'b': 2}
키 'a'의 값: 3

In [127]:
'''
일반적으로, 기업에서 데이터를 수집하고 적재할 때, 딕셔너리의 데이터 타입을 기반으로 저장이 됩니다.
딕셔너리 타입의 특성을 이해하는 것이 앞으로 데이터 프레임(일종의 엑셀같은 표)의 이해에 도움이 됩니다.
'''


student = {
    "name": "Alice",
    "age": 20,
    "major": "Data Science"
}

print(student)
print("이름:", student["name"])   # 키로 값 찾기
print("나이:", student["age"])

{'name': 'Alice', 'age': 20, 'major': 'Data Science'}
이름: Alice
나이: 20

#### 딕셔너리 타입의 데이터 핸들링

In [130]:
# 1. 딕셔너리 만들기
student = {"name": "Alice", "age": 20, "major": "Data Science"}
print("초기 딕셔너리:", student)

초기 딕셔너리: {'name': 'Alice', 'age': 20, 'major': 'Data Science'}

In [132]:
# 2. 값 접근하기
print("이름:", student["name"])          # 직접 접근
print("전공:", student.get("major"))     # get() 사용 (안전)

이름: Alice
전공: Data Science

In [134]:
# 3. 값 수정하기
student["age"] = 21
print("나이 수정 후:", student)

나이 수정 후: {'name': 'Alice', 'age': 21, 'major': 'Data Science'}

In [136]:
# 4. 새로운 키-값 추가하기
student["grade"] = "A"
print("새 항목 추가 후:", student)

새 항목 추가 후: {'name': 'Alice', 'age': 21, 'major': 'Data Science', 'grade': 'A'}

In [138]:
# 5. 값 삭제하기
del student["major"]
print("삭제 후:", student)

삭제 후: {'name': 'Alice', 'age': 21, 'grade': 'A'}

In [140]:
# 6. 모든 키/값/쌍 확인하기
print("keys():", list(student.keys()))
print("values():", list(student.values()))
print("items():", list(student.items()))

keys(): ['name', 'age', 'grade']
values(): ['Alice', 21, 'A']
items(): [('name', 'Alice'), ('age', 21), ('grade', 'A')]

In [142]:
# 7. 반복문으로 순회하기
print("반복문 출력:")
for key, value in student.items():
    print(f"{key} → {value}")

반복문 출력:
name → Alice
age → 21
grade → A

In [144]:
# 8. 키 존재 여부 확인
print("'name' in student ?", "name" in student)
print("'major' in student ?", "major" in student)

'name' in student ? True
'major' in student ? False

In [146]:
# 9. 딕셔너리 병합하기
other = {"club": "AI Society", "hobby": "Photography"}
student.update(other)
print("병합 후:", student)

병합 후: {'name': 'Alice', 'age': 21, 'grade': 'A', 'club': 'AI Society', 'hobby': 'Photography'}

In [148]:
# 10. 딕셔너리 컴프리헨션
squares = {x: x**2 for x in range(5)}
print("컴프리헨션 예시 (숫자와 제곱):", squares)

컴프리헨션 예시 (숫자와 제곱): {0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [150]:
# 11. 기본값 활용 (setdefault)
profile = {}
profile.setdefault("name", "Unknown")
print("setdefault 결과:", profile)

setdefault 결과: {'name': 'Unknown'}

In [152]:
# 12. pop() 사용 (꺼내면서 삭제)
grade = student.pop("grade")
print("꺼낸 값:", grade)
print("꺼낸 후 딕셔너리:", student)

꺼낸 값: A
꺼낸 후 딕셔너리: {'name': 'Alice', 'age': 21, 'club': 'AI Society', 'hobby': 'Photography'}

In [154]:
# 13. fromkeys() 사용 (초기화)
keys = ["id", "pw", "email"]
empty_user = dict.fromkeys(keys, None)
print("fromkeys 결과:", empty_user)

fromkeys 결과: {'id': None, 'pw': None, 'email': None}

In [156]:
# 14. 중첩 딕셔너리
school = {
    "student1": {"name": "Alice", "age": 20},
    "student2": {"name": "Bob", "age": 22}
}
print("중첩 딕셔너리:", school)
print("student1의 이름:", school["student1"]["name"])

중첩 딕셔너리: {'student1': {'name': 'Alice', 'age': 20}, 'student2': {'name': 'Bob', 'age': 22}}
student1의 이름: Alice

---

### 7. 텍스트(string) 타입의 특성과 주의할 점

In [212]:
# 텍스트 타입이 연산자 적용

## 1. 덧셈(+) → 문자열 이어붙이기
a = "빅데이터분석 수업은"
b = "재밌다."
print(a + b)
print(a + " " + b)  # 중간에 공백(" ") 추가

'''
여기서, 덧셈 연산자는 같은 텍스트 타입의 데이터끼리만 연산이 가능합니다.
정수 혹은 실수와 연산을 실행할 경우 데이터 타입 차이로 인한 에러가 발생합니다. -> 1+'Python'
'''

## 2. 곱셈(*) → 문자열 반복
word = "ha"
print(word * 3)   # hahaha


## 3. 포함 여부(in, not in)
text = "Python is fun"
print("Python" in text)    # True
print("Java" not in text)  # True


## 4. 비교 연산 (==, <, >)
print("apple" == "apple")   # True
print("apple" < "banana")   # True (사전순 비교)
print("Zoo" < "apple")      # True (대문자가 더 앞)

빅데이터분석 수업은재밌다.
빅데이터분석 수업은 재밌다.
hahaha
True
True
True
True
True

In [198]:
# 2. 시퀀스(Sequence) 타입 : 메모리에 연속적으로 저장되는 데이터 타입(순서가 있다!)

'''
인덱싱과 슬라이싱이 가능

- 인덱싱 : 위치를 지정해서 한 글자(또는 요소)를 꺼내는 것 -> x[0]
- 슬라이싱 : 범위를 지정해서 여러 글자를 잘라내는 것 -> x[0:2]
 1) 시작 위치 포함, 끝 위치는 포함되지 않음(중요!) -> x[0:2] : 첫 번째 요소부터 두 번째 요소까지 출력
 2) 시작이나 끝을 생략할 수도 있음

※ 파이썬에서 첫 번째를 나타내는 숫자는 0이고, 마지막을 나타내는 숫자는 -1 입니다.
'''

s = "Python"
print(s[0])     # 'P'
print(s[-1])    # 'n'
print(s[0:3])   # 'Pyt'
print(s[:])     # 'Python' : 전체 출력(0이나 -1은 슬라이싱할 때 생략할 수 있음)

P
n
Pyt
Python

In [192]:
# 3. 불변(immutable) : 한 번 만들어진 문자열은 바꿀 수 없음

'''
불변의 특성이란 한번 변수에 지정된 문자열 데이터는 수정하려면 새로운 문자열을 만들어서 새로운 변수에 지정을 해줘야 합니다.
그래서, 인덱싱, 슬라이싱으로 출력은 가능하지만, 수정은 불가능합니다.
'''

s = "   hello"
# s[0] = "H"   # 오류 발생
print(s)  # 'Hello'

# 새로운 변수를 지정하지 않았기 때문에 함수를 적용한 후 다시 출력해도 변경하기 전으로 출력됩니다.
print("==== 새로운 변수 지정 전 ====")
s.strip()         # 앞뒤 공백 제거 함수 적용
s.replace("h", "H")  # 문자열 대체 적용
print(s)

print("==== 새로운 변수 지정 후 ====")
s1 = s.strip()
print(s1)
s2 = s.replace("h", "H")
print(s2)

   hello
==== 새로운 변수 지정 전 ====
   hello
==== 새로운 변수 지정 후 ====
hello
   Hello

In [206]:
# 4. 포맷팅 지원

'''
포맷팅이란 문자열 안에 원하는 값(변수, 숫자 등)을 넣어서 완성된 문장을 만드는 것을 말합니다.
단순 연결(+)만 쓰면 코드가 지저분해지고, 숫자/변수와 섞일 때 번거롭기 때문에, 포맷팅을 쓰면 깔끔하고 직관적인 문자열 생성이 가능함.
'''

name = "Alice"
age = 20
print(f"{name} is {age} years old.")
print("My name is {}".format(name))
print('My name is %s' %(name))

Alice is 20 years old.
My name is Alice
My name is Alice