# 순서형

In [ ]:
#@title 예제 1-1. 2차원과 3차원 리스트에서 인덱싱/슬라이싱을 연습해봅시다.

matrix = [[1, 2], [3, 4]]

# TODO: 첫 번째 행의 두 번째 원소를 출력해보세요.
print(matrix[0][1])

tensor = [
          [[1, 2], [3, 4]],
          [[5, 6], [7, 8]]
         ]

# TODO: 첫 번째 층의 두 번째 행 전체를 출력해보세요.
print(tensor[0][1][:])

2
[3, 4]

In [ ]:
#@title 예제 1-2. 리스트 생성과 인덱싱
fruits = ["apple", "banana", "cherry"]

# TODO: 리스트에서 두 번째 원소를 출력해보세요.
print(fruits[1])

banana

In [ ]:
#@title 예제 1-3. 튜플 생성과 인덱싱
numbers = (10, 20, 30, 40)

# TODO: 튜플에서 세 번째 원소를 출력해보세요.
print(numbers[2])

30

In [ ]:
#@title 예제 1-4. range 객체 활용
r = range(5, 15, 2)

# TODO: range 객체를 리스트로 변환하여 출력해보세요.
print(list(r))

[5, 7, 9, 11, 13]

In [ ]:
#@title 예제 1-5. 리스트 인덱싱과 슬라이싱 활용
data = [10, 20, 30, 40, 50]

# TODO: 두 번째 원소를 200으로 변경해보세요.
data[1] = 200

# TODO: 리스트의 2번째부터 4번째까지 잘라서 출력해보세요.
print(data[1:4])

[200, 30, 40]

# 집합형

In [ ]:
#@title 예제 2-1. 집합을 생성하고 자료형을 확인해봅시다.

# TODO: {"apple", "banana", "cherry"} 집합을 만들어 fruit_set 변수에 저장해보세요.
fruit_set = {"apple", "banana", "cherry"}

# TODO: fruit_set의 자료형을 출력해보세요.
print(type(fruit_set))  # 힌트 : 타입 확인 함수

<class 'set'>

In [ ]:
#@title 예제 2-2. 집합에 원소를 추가하고 삭제해봅시다.

numbers = {1, 2, 3}

# TODO: numbers에 4를 추가해보세요.
numbers.add(4)

# TODO: numbers에서 2를 삭제해보세요.
numbers.remove(2)

print(numbers)

{1, 3, 4}

In [ ]:
#@title 예제 2-3. 집합 연산을 해봅시다.

set_a = {1, 2, 3, 4}
set_b = {3, 4, 5, 6}

# TODO: set_a와 set_b의 교집합을 출력해보세요.
print(set_a & set_b)
print(set_a.intersection(set_b))

# TODO: set_a와 set_b의 합집합을 출력해보세요.
print(set_a | set_b)
print(set_a.union(set_b))

# TODO: set_a와 set_b의 차집합을 출력해보세요.
print(set_a - set_b)
print(set_a.difference(set_b))

{3, 4}
{3, 4}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{1, 2}
{1, 2}

# 매핑형

In [1]:
#@title 예제 3-1. 딕셔너리에서 키를 이용해 값을 출력해봅시다.

student = {"name": "Tom", "grade": "A", "age": 20}

# TODO: 학생의 이름(name)을 출력해보세요.
print(student["name"])
print(student.get("name"))

Tom
Tom

In [2]:
#@title 예제 3-2. 딕셔너리에 새로운 키-값 쌍을 추가해봅시다.

car = {"brand": "Hyundai", "model": "Sonata"}

# TODO: 키 "year"에 값 2023을 추가하고, 딕셔너리를 출력해보세요.
car["year"] = 2023
print(car)

{'brand': 'Hyundai', 'model': 'Sonata', 'year': 2023}

In [3]:
#@title 예제 3-3. 딕셔너리에서 안전하게 키를 조회해봅시다.

info = {"id": 101, "name": "Kim"}

# TODO: "email" 키를 get 메서드로 조회하고, 없으면 "N/A"를 출력해보세요.
print(info.get("email", "N/A"))

N/A

#