# 0. 데이터 타입 확인

In [1]:
#@title 예제 1. 각 변수의 데이터 타입을 출력해봅시다.

x = '10,000원'
y = True
z = [1, 2, 3]

print(type(x)) # x의 타입 출력
print(type(y)) # y의 타입 출력
print(type(z)) # z의 타입 출력

<class 'str'>
<class 'bool'>
<class 'list'>

# 1. 기본형

In [2]:
#@title 예제 2-1. 변수 x를 정수로 변환하고 타입을 출력해봅시다.
##

x = 1.9999

result = int(x)    # 힌트 : 정수로 변환하는 함수를 활용해봅시다.

print(type(result)) # 힌트 : result의 타입을 출력하는 함수를 활용해봅시다.

<class 'int'>

In [3]:
#@title 예제 2-2. 변수 x를 실수로 변환하고 타입을 출력해봅시다.

x = 1234

result = float(x)    # 힌트 : 실수로 변환하는 함수를 활용해봅시다.

print(type(result)) # 힌트 : result의 타입을 출력하는 함수를 활용해봅시다.

<class 'float'>

In [4]:
#@title 예제 2-3. 다음 변수들을 활용해서 다음 식을 구해봅시다.

$$ x^2 + 2y + \frac{z}{2} $$

In [5]:
x = 10
y = 25
z = 100

result = x**2 + 2*y + z/2 # 정답

print(result)

200.0

# 문자형

In [6]:
#@title 예제 3-1. 문자열을 정수로 변환하고 타입을 출력해봅시다.

x = "123"

result = float(x) # 정답

print(type(result))   # 타입 출력

<class 'float'>

In [7]:
#@title 예제 3-2. 문자열에서 원하는 글자를 꺼내어 출력해봅시다.
## first_word엔 s에서 첫 번째 글자를 출력
## slicing_words엔 s에서 "Pyt"를 슬라이싱으로 출력

s = "Python"

# 힌트 : 인덱싱과 슬라이싱을 어떻게 했는지 생각해봅시다.

first_word = s[0] # 정답
slicing_words = s[0:3] # 정답

print(first_word)
print(slicing_words)

P
Pyt

In [8]:
#@title 예제 3-3. 문자열 연산을 활용해서 새로운 문자열을 출력해봅시다.
## words에는 word1과 word2를 연결해서 출력
## word1_3에는 word1을 3번 반복해서 출력

word1 = "Hello "
word2 = "Python"

# 힌트 : 문자열도 연산이 가능합니다.

words = word1 + word2 # 정답
word1_3 = word1 * 3 # 정답

print(words)
print(word1_3)

Hello Python
Hello Hello Hello

In [9]:
#@title 예제 3-4. 문자열에 적용할 수 있는 메서드를 활용해봅시다.

name = "kang"

upper = name.upper() # 대문자로 변환
replace = name.replace('k','K') # 'k'를 'K'로 변환

print(upper)
print(replace)

KANG
Kang

In [10]:
!wget -q -O Week3_Q.py https://raw.githubusercontent.com/sbinhigher/tourism_data_lecture/main/Week3/Week3_Q.py

In [11]:
import Week3_Q as quiz

In [15]:
quiz.show_all_explanations()              # 기본값: 정답 포함

## 📘 Week3 전체 해설

### Q1 해설

> **정답:** `s[0]`

Q1 해설: 문자열 인덱스는 0부터 시작하며, s[0]은 첫 글자를 가리킵니다.

---

### Q2 해설

> **정답:** `s[0:3]  (또는 s[:3])`

Q2 해설: s[0:3] 은 0~2번째까지 잘라내므로 'Pyt'이 출력됩니다.
         슬라이싱은 시작 인덱스 포함, 끝 인덱스 미포함 규칙을 기억하세요.

---

### Q3 해설

> **정답:** `1  (문자열은 불변)`

Q3 해설: 데이터 형의 기본 특성
1) 문자열(str)은 불변(immutable)이다. ✅ 올바른 설명입니다.
2) 10 + 10.0 의 결과 타입은 int 이다. ❌ 틀림 → 정수 + 실수 = float 이므로 결과는 float입니다.
3) 인덱싱은 1부터 시작한다. ❌ 틀림 → 파이썬은 0부터 시작합니다.
4) '3' + 4 는 7 이 된다. ❌ 틀림 → 문자열 '3'과 숫자 4는 더할 수 없어 TypeError가 발생합니다.

---

### Q4 해설

> **정답:** `16.5`

Q4 해설: / 는 실수 나눗셈, // 는 몫(정수 나눗셈), ** 는 거듭제곱 연산입니다.
         a + b/c - d//2 + e**2 = 7 + 10/4 - 2 + 9 = 7 + 2.5 - 2 + 9 = 16.5

---

### Q5 해설

> **정답:** `2  (float)`

Q5 해설: 연산 결과의 타입
1) int ❌ 틀림 → 정수와 실수를 더하면 결과는 실수입니다.
2) float ✅ 정답 → 10 + 10.0 = 20.0 으로 float 입니다.
3) str ❌ 틀림 → 문자열 연산이 아니므로 str 이 될 수 없습니다.
4) bool ❌ 틀림 → True/False와 관련된 연산이 아니므로 bool 이 아닙니다.

---

### Q6 해설

> **정답:** `f"{city} has {rating} rating."  (또는 "{} has {} rating.".format(city, rating))`

Q6 해설: 문자열 포맷팅
- f-string: f"{city} has {rating} rating." 처럼 변수값을 직접 삽입할 수 있어 간결합니다.
- format(): "{} has {} rating.".format(city, rating) 도 동일한 결과를 냅니다.

---

### Q7 해설

> **정답:** `1  (float(str(3.14)) → float)`

Q7 해설: str() 변환 후 ‘복원 가능’ 판단
1) float(str(3.14)) ✅ 가능 → '3.14'는 float()로 정확히 3.14로 복원됩니다.
2) bool(str(True))  ❌ 일반적 복원으로 보지 않습니다.
   - 이유: bool('무슨문자열이든') 은 비어있지 않으면 항상 True 입니다.
           예를 들어 bool('False') 도 True 가 되어 의미 보존이 되지 않습니다.
3) list(str([1, 2, 3])) ❌ '[1, 2, 3]' 은 단순 문자열일 뿐 list 로 파싱되지 않습니다.
4) dict(str({'a': 1})) ❌ "{'a': 1}" 역시 문자열이며 dict()로 변환할 수 없습니다.

---

### Q8 해설

> **정답:** `1  (list는 기본형이 아님)`

Q8 해설: 기본형이 아닌 것
1) list ✅ 정답 → list는 컬렉션형(복합형)으로 기본형이 아닙니다.
2) int ❌ 틀림 → 숫자형 기본형입니다.
3) float ❌ 틀림 → 숫자형 기본형입니다.
4) bool ❌ 틀림 → 불리안 기본형입니다.
5) str ❌ 틀림 → 문자열 기본형입니다.

---

### Q9 해설

> **정답:** `3  (int("3.14")는 ValueError)`

Q9 해설: 숫자형 변환 에러
1) int('123')   ✅ 정상 → '123' 은 정수 123으로 변환 가능합니다.
2) float('3.14')✅ 정상 → '3.14' 는 실수 3.14로 변환 가능합니다.
3) int('3.14')  ❌ 에러 → int()는 소수점 문자열을 직접 변환하지 못해 ValueError 발생.
4) float('10')  ✅ 정상 → '10' 은 10.0 으로 변환됩니다.

---

### Q10 해설

> **정답:** `2  (apple apple banana)`

Q10 해설: replace(old, new, count)
- count를 지정하면 앞에서부터 해당 횟수만 치환합니다.
- 예제: 'banana banana banana' 에서 2회 치환 → 'apple apple banana'
- count를 생략하면 전체가 치환됩니다.

---

✅ **모든 해설이 출력되었습니다.**